$blue-100: #0d0033;
$blue-200: #1a0066;
$blue-300: #260099;
$blue-400: #3300cc;
$blue-500: #4000ff;
$blue-600: #6633ff;
$blue-700: #8c66ff;
$blue-800: #b399ff;
$blue-900: #d9ccff;
$blue-1000: #ece5ff;

$blue-1000_opaque: #ece5ff6e;